<div class="container-fuild">
  <div class="row">
    <div class="form-container p-4 shadow-lg" style="background-color: #f7f8ff">
      <form [formGroup]="form2">
        <div class="row">
          <label
            for="group"
            class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-form-label col-form-label-md text-black fw-800 mb-3 label-custom-width"
          >
            Favourite Subjects to do</label
          >
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <input
            type="text"
            class="form-control form-control-md focus-ring"
            id="fSubject"
            placeholder=""
            formControlName="fSubject"
            tabindex="1"
          />
          </div>
          <div class="col-xxl-1 col-xl-1 col-lg-2 col-md-2 col-sm-2"></div>
          <label
            for="group"
            class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-form-label col-form-label-md text-black fw-800 mb-3 label-custom-width"
          >
            Favourite Hobby</label
          >
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <input
              type="text"
              class="form-control form-control-md focus-ring"
              id="fHobby"
              placeholder=""
              formControlName="fHobby"
              tabindex="1"
            />
          </div>
        </div>

        <div class="row">
          <label
            for="assettype"
            class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-form-label col-form-label-md text-black fw-800 mb-3 label-custom-width"
          >
            Favourite Sport</label
          >
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <input
            type="text"
            class="form-control form-control-md focus-ring"
            id="fSport"
            placeholder=""
            formControlName="fSport"
            tabindex="1"
          />
          </div>

          <div class="col-xxl-1 col-xl-1 col-lg-2 col-md-2 col-sm-2"></div>

          <label
            for="assetsubtype"
            class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-form-label col-form-label-md text-black fw-800 mb-3 label-custom-width"
          >
            Favourite story book</label
          >
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <input
              type="text"
              class="form-control form-control-md focus-ring"
              id="fBook"
              placeholder=""
              formControlName="fBook"
              tabindex="1"
            />
          </div>
        </div>



        <div class="row">
          <label
            for="serialID"
            class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-form-label col-form-label-md text-black fw-800 mb-3 label-custom-width"
          >
            Father's Occupation</label
          >
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <input
              type="text"
              class="form-control form-control-md focus-ring"
              id="fOccupation"
              placeholder=""
              formControlName="fOccupation"
              tabindex="1"
            />
          </div>

          <div class="col-xxl-1 col-xl-1 col-lg-2 col-md-2 col-sm-2"></div>

          <label
            for="barcode"
            class="col-xxl-2 col-xl-2 col-lg-2 col-md-2 col-sm-2 col-form-label col-form-label-md text-black fw-800 mb-3 label-custom-width"
          >
            Mother's Occupation</label
          >
          <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
            <input
              type="text"
              class="form-control form-control-md focus-ring"
              id="mOccupation"
              placeholder=""
              formControlName="mOccupation"
              tabindex="1"
            />
          </div>
        </div>

       

    
      </form>
    </div>
  </div>
</div>
